gateway-helm:
  enabled: true
  config:
    envoyGateway:
      logging:
        level:
          default: debug
      rateLimit:
        backend:
          type: Redis
          redis:
            url: eg-gateway-redis.eg.svc.cluster.local:6379
  service:
    annotations:
      lb: orbstack

gateway:
  namespace: eg
  routeNamespaceSelector:
    gateway: app
  tls:
    certificate: https-secret

httproutes:
  rules:
    - name: frontend
      hostnames: ["www.example.com"]
      rules:
        - matches:
            - type: PathPrefix
              value: /
          backend:
            name: frontend
            port: 8000
    - name: backend-private
      hostnames: ["api.example.com"]
      rules:
        - matches:
            - type: PathPrefix
              value: /api/private
          backend:
            name: backend
            port: 8000
    - name: backend
      hostnames: ["api.example.com"]
      rules:
        - matches:
            - type: PathPrefix
              value: /
          backend:
            name: backend
            port: 8000

securitypolicy:
  no_auth:
    targetRefs:
      - frontend
      - backend
    whitelist:
      clientCIDRs:
        - 0.0.0.0/0
  auth:
    targetRefs:
      - backend-private
    backend:
      name: backend
      port: 8000
      path: /api/auth?next=
    cors:
      allowOrigins:
        - "https://www.example.com"
      allowMethods:
        - OPTIONS
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
      allowHeaders:
        - authorization
        - csrf-token
        - webpage
        - nonce
        - content-type
        - query-name
        - content-disposition
      exposeHeaders:
        - content-disposition
      allowCredentials: true

env:
  frontend:
    api: "api.example.com"
    scheme: "https"
  backend:
    login_url: "https://www.example.com/login"
    cors_allowed_origins:
      - "https://www.example.com"
