apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: jwt-auth-web
          imagePullPolicy: IfNotPresent
          env:
            - name: HOST_API
              value: "{{ .Values.host.api }}"
            - name: HOST_SCHEME
              value: "{{ .Values.host.scheme }}"
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: jwt-auth-api
          imagePullPolicy: IfNotPresent
          env:
            - name: LOGIN_URL
              value: "{{ .Values.auth.login_url }}"
            - name: CORS_ALLOWED_ORIGINS
              value: "{{ join "," .Values.auth.cors_allowed_origins }}"
          ports:
            - containerPort: 8000
